@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&family=Oswald&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;  
    color: #1B1A1A;   
    overflow-y: hidden;
}

.header {
   
}
.header a {
    color: #1B1A1A;
}
.conteiner {
    max-width: 1440px;
}
.header__top {
    
    background-image: url(./../img/header/image.png);
    
    width: 1440px;
    height: 821px;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
    background-color: #D3CBC5;
}

.nav__logo {
    padding-left: 170px;
}
.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 525px;
    height: 39px;
    /* border: 1px solid rebeccapurple; */

}

.nav__list a{
    position: relative;
}
.nav__list--header a.active::after,
.nav__list--header a:hover::after {
	content: '';

	position: absolute;
	left: 0;
    bottom: 4px;
    right: 0px;
    height: 0.6px;
    display: block;
    background-color: #2C314B;
	
}
.nav__list--header {
    
}
.active {
}
.nav__shop {
    display: flex;
    justify-content: space-between;

    
    height: 18px;
    column-gap: 27px;
    padding-right: 160px;
}

.nav__shop--active {
    position: relative;
}
.nav__shop--active::after {
    content: '';
    position: absolute;
    left: 16px;
    top: -4px;

    width: 8.44px;
    height: 8.44px;
    background: #781414;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}

.header__row {
}
.header__content {
    position: relative;
    width: 365px;
    margin-top: 206px;    
    margin-left: 210px;   
    
}

.header__content::after {
    content: '';

	position: absolute;
	left: -35px;
	top: -20px;

	display: block;
	width: 292px;
	height: 1px;
	background-color: #6B6C71;
	border-radius: 50px;
}
.header__content::before {
    content: '';

	position: absolute;
	left: -22px;
	top: -35px;

	display: block;
	width: 1px;
	height: 253px;
	background-color: #6B6C71;
	border-radius: 50px;
}

.header__text {
    font-size: 16px;
    font-weight: 400; 
    color: #2C314B;
    ;
}
.header__title {
    display: block;
    font-size: 50px;
    font-weight: 600;
    height: 120px;
    line-height: 60px;
    margin-top: 7px;

}
.header__price {
    font-weight: 400;
    font-size: 24px;
    margin-top: 15px;
}

.header__price span {
    color: #878787;
    font-size: 16px;
}
.header__button {
    position: relative;
    min-width: 114px;
    height: 37px;
    margin-top: 21px;
    
    background-color: #1C1B1B;    
}

.header__button::after {
    content: '';

    position: absolute;
    border:0.6px solid #000;
    left: 123.5px;
    bottom: -9.5px;
    height: 10px;
    width: 10px;  
    border-right: none; 
    border-bottom: none;
}
.header__button::before {
    content: '';

    position: absolute;
    border:0.6px solid #000;
    right: 123.5px;
    top: -9.5px;
    height: 10px;
    width: 10px;  
    border-left: none; 
    border-top: none; 
}

.header__button p {
    padding: 7px 17px;
    color: #fff;

}